img {
    display: block;
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
    overflow: hidden;
    height: 100vh;
}

.gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.gallery__img {
    scroll-snap-align: start;
    margin-bottom: 10px;
    min-height: 100vh;
    object-fit: cover;
}

.lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
}

.lil-nav a {
    height: 200px;
    display: flex;
    margin-bottom: 10px;
}

.lil-nav__img {
    object-fit: cover;
}