img {
    display: block;
    max-width: 100%;
}

/* $large: 1200px; This is for scss, but complier required */

.wrapper {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
    height: 100vh;
}

@media (min-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto;
    }
}

.gallery {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.gallery__img {
    scroll-snap-align: start;
    margin-bottom: 10px;
    min-height: 100vh;
    object-fit: cover;
}

.lil-nav {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    grid-row-start: 2;
}

@media (min-width: 1200px) {
    .lil-nav {
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
        grid-row-start: auto;
    }
}

.lil-nav a {
    height: 200px;
    display: flex;
    margin-bottom: 10px;
}

.lil-nav__img {
    object-fit: cover;
    filter: saturate(0) brightness(70%) opacity(0.7) contrast(200%);
    transition: all 0.3s ease;
}

.lil-nav__img:hover {
    transform: scale(1.05);
    filter: saturate(1) brightness(110%) opacity(1) contrast(100%);
}